body
{
  background-color: gray;
}
footer
{
  margin-top: 20px;
}
img
{
  border-radius: 10px;
}
/*
Se puede aplicar estilos a etiquetas específicas mediante su id
pudiendo referirse a ellos por su nombre utilizando el #.
Esta forma es eficiente y efectiva puesto que se referirá solo a
dicha etiqueta.
*/
#Contenedor
{
  font-size: 16px;
  font-family: helvetica;
}
#Encabezado
{
  display: block;
  margin: 0 auto;
}
/*
El selector class se utiliza para aplicar el mismo estilo a múltiples elementos.
Se podrá referirse al mismo mediante el .
*/
.itemIndice
{
    list-style-type: upper-roman;
}
.enlace
{
  color: purple;
}
/*
Selectores de Atributo. Forman parte de los selectores avanzados.
Pueden hacer consultas a nivel de atributos.
*/
a[href^='#']
{
    color: red;
}
a[href='http://www.google.com']{}
/**todas las imagenes que sean svg
Si utilizas $ busca el atributo que finalice con __
^ buscara al principio
~ multiples valores separados por espacios
1(pie) valor al principio o en todo el contenido pero seguido de un guion
*/
img[src$='.svg']
{
  border-radius: 50px;
}
img[src$='jpg'],img[src$='png']{
  border: 1px solid black;
  border-radius: 50px;
}
/*todas las etiquetas title con el valor description*/
[title*="description"]
/*SELECTORES AVANZADOS*/
/*
* no depende de ningun otro para funcionar
*/
*
{
    margin: 1vh 1vw;
}
/*
h1+h2 sirve para referenciar un elemento con la condicion estricta
que el segundo elemento este precedido del primer elemento.
*/
h1+h2
{
  text-decoration: underline;
}
/*
Selector de Hermanos
Seleccion todos los elementos que sean hijos de la etiqueta que
se especifica. Todos los h2 que estén precedidos por h1.
*/
h2~article
{
  text-align: justify;
}
/*
Selector de Hijos Directos
Hace referencia a todos los hijos directos de la etiqueta o
elemento
*/
article> p
{
  text-decoration:inherit;
}
/*
Funciona igual al anterior excepto que no aplica al primer hijo directo
*/
ul li
{
    list-style: circle;
}
/*
PseudoClases
*/
/*
:visited Es lo contrario de la pseudo-clase :link,
hace referencia a elementos que tenen
enlaces y ya fueron visitados alguna vez
por el usuario.
*/
a[href^="http://"]:visited{
  color: red;
}
/*
:hover
Se actva cuando pasamos el cursor del
mouse por encima del elemento.
*/
a:hover{
  color: green;
}
/*
:first-child
Hace referencia el primer hijo de un elemento.
*/
h2:first-child{
  text-decoration: underline;
}
/*
:focus
Es usado solo en los elementos input, ya que
se actva cuando ponemos el cursor del
mouse en un cuadro de texto y vamos a
escribir algo.
*/
input:focus{
  width: 160px;
  height: 140px;
}
/*
PseudoElementos
*/
/*
::first-leter
Este pseudo-elemento es usado en
textos, párrafos y ttulos y hace referencia
a la primera letra del contenido de dicho
elemento.
*/
p::first-letter{
  text-transform: capitalize;
}
/*
::first-line
Este pseudo-elemento se parece a ::first-letter:
selecciona toda la primera línea del contenido
del texto.
*/
p::first-line{
  font-size: 32px;
}
/*
::selecton
Este pseudo-elemento se actva cuando el
usuario selecciona una porción de texto en
un elemento, es decir, si tenemos un elemento
<p> que contene un párrafo y el
usuario selecciona una parte del párrafo, se
actvará este pseudo-elemento.
*/
p::selection{
  text-decoration-color: purple;
}
