body
{
  background-color: gray;
}
footer
{
  margin-top: 20px;
}
img
{
  border-radius: 10px;
}
/*
Se puede aplicar estilos a etiquetas específicas mediante su id
pudiendo referirse a ellos por su nombre utilizando el #.
Esta forma es eficiente y efectiva puesto que se referirá solo a
dicha etiqueta.
*/
#Contenedor
{
  font-size: 16px;
  font-family: helvetica;
}
#Encabezado
{
  display: block;
  margin: 0 auto;
}
/*
El selector class se utiliza para aplicar el mismo estilo a múltiples elementos.
Se podrá referirse al mismo mediante el .
*/
.itemIndice
{
    list-style-type: upper-roman;
}
.enlace
{
  color: purple;
}
/*
Selectores de Atributo. Forman parte de los selectores avanzados.
Pueden hacer consultas a nivel de atributos.
*/
a[href^='#']
{
    color: red;
}
a[href='http://www.google.com']{}
/**todas las imagenes que sean svg
Si utilizas $ busca el atributo que finalice con __
^ buscara al principio
~ multiples valores separados por espacios
1(pie) valor al principio o en todo el contenido pero seguido de un guion
*/
img[src$='.svg']
{
  border-radius: 50px;
}
img[src$='jpg'],img[src$='png']{
  border: 1px solid black;
  border-radius: 50px;
}
/*todas las etiquetas title con el valor description*/
[title*="description"]
